body{
    background-image: url('Picture6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    margin-top: 50px;
    font-size: 4vw;
    color: bisque;
    text-align: center;
}
.myflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}
.myflex > div{
    background-color:rgba(41, 41, 80, 0.4) ;
    width: 25%;
    overflow: hidden; 
    height: 100px;
    margin: 50px;
    border: 2px;
    border-color: #fcd9f6 ;
    border-style: solid;
    border-radius: 20px;
    padding-top: 55px;
    text-align: center;
}
.myflex>div:hover{
    background-color: rgb(22, 22, 54);
    cursor: pointer;
    border: 3px;
}
a{
    text-decoration: none;
    color: #fcd9f6;
    font-size: 26px;
    font-family: "Candara";
 }
