{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Registration</title>
</head>

<body>
    <div class="list">
        <ul>
            {% for eventregi in eventregis %}
                <li> Event name: {{eventregi.eventname}}</li>
                <li>Description: {{eventregi.description}}</li>
                <li>From date: {{eventregi.fromdate}}</li>
                <li>To Date: {{eventregi.todatee}}</li>
                <li>Registration Deadline:{{eventregi.deadline}}</li>
                <br>
            {% endfor %}
        </ul>
    </div>

    <div class="heading">Participant Registration</div>
    <form id="formmi" method="POST" action="/eventlist">
    {% csrf_token %}
        <div class="col1">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>

        <div class="col2">
            <label for="phone">Contact Number:</label>
            <input type="number" id="phone" name="phone">
        </div>

        <div class="col3">
            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="col4">
            Event :
            {% for eventregi in eventregis %}
            <label for="{{eventregi.eventname}}">{{eventregi.eventname}}</label>
            <input type="radio" id="{{eventregi.eventname}}" name="eventType" class="eve" value="{{eventregi.id}}">
             {% endfor %}
        </div>

        <div class="col5">
            Registration-Type :
            <label for="individual">individual</label>
            <input type="radio" id="individual" name="registration" class="er" value="individual">
            <label for="group">group</label>
            <input type="radio" id="group" name="registration" class="er" value="group">
        </div>
        <div class="col6">
            <label for="people">Number of people:</label>
            <input type="number" min="2" name="people" id="people" disabled>
        </div>
        <div class="sub">
            <button class="submit" type="submit" id="submit" value="submit">submit</button>
        </div>
    </form>
    <div class="link"><a href="/homepage"> Back to homepage </a> </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/java.js"></script>

</body>
</html>
{% endblock body %}