{% extends 'base.html' %}
{% block body%}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/mystyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W.O.C</title>
</head>
<body>
    <h2>Event Manager WebApplication</h2>
   <div class="myflex">
       <div><a href="/everegis"> Event Registration </a> </div>
       <div><a href="/eventlist"> Participant Registration</a></div>
       <div><a href=Event_dashboard.html target="_blank">Event Dashboard</a></div>
   </div>
</body>
</html>
{% endblock body %}