{% extends 'base.html' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/stylinghp.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W.O.C</title>
</head>
<body>
    <div class ="titles">
        Event Manager WebApplication
    </div>
   <div class="myflex">
       <div><a href="/everegis"> Event Registration </a> </div>
       <div><a href="/eventlist"> Participant Registration</a></div>
       <div><a href="/eventdash">Event Dashboard</a></div>
   </div>
</body>
</html>
{% endblock body %}