html{
    background: url('Picture6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2{
margin-top: 60px;
    font-size: 4.3vw;
    color: bisque;
    text-align: center;
    font-family: 'Comic Sans MS';
    margin-bottom:110px
}
.myflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

}
.myflex>div{
    background-color:rgba(41, 41, 80, 0.4) ;
    width: 21%;
    height: 60px;
    overflow: hidden;
    margin: 50px;
    border: 2px;
    border-color: #fcd9f6 ;
    border-style: solid;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.myflex>div:hover{
    background-color: rgb(22, 22, 54);
    cursor: pointer;
    border: 3px;
}
a{
    text-decoration: none;
    color: #fcd9f6;
    font-family: "Candara";
    font-size: 2vw;
 }
